body {
  background-image: url(/dark-waves.jpg);
  background-size: cover;
  overflow-x: hidden;
  color: white;
  font-family: Verdana;
  text-align: center;
  margin: 20px 10vw;
  padding: 0;
}

/* Main Content */
main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0;
}

/* Pronouns.Page Embed */
.embed {
  display: block;
  height: 1200px;
  width: 80vw;
  border: none;
}

/* Socials */
.badge {
  width: 85px;
}
