body {
  background-image: url(/dark-waves.jpg);
  background-size: cover;
  overflow-x: hidden;
  color: white;
  font-family: Verdana;
  text-align: center;
  margin: 20px 10vw;
  padding: 0;
}

/* Main Content */
main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0;
}

/* Pronouns.Page Embed */
.embed {
  display: block;
  height: 800px;
  width: 80vw;
  border: none;
}

/* Socials */
.badge {
  width: 85px;
}

/* Meme Styling */

.meme-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.meme {
  width: 30vw;
  max-width: 350px;
  min-width: 100px;
}

@media (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
  }

  .embed {
    width: 100vw;
    scale: 0.8;
  }

  .badge {
    width: 60px;
  }

  .meme-container {
    flex-direction: column;
    gap: 10px;
  }

  .meme {
    width: 60vw;
    max-width: 300px;
  }
}
